<div style="margin: 2rem 4rem 5rem">
  <div style="display: flex; margin: 0 auto 2rem;">
    <button (click)="setTab(0)">
      Diamond
    </button>
    <button (click)="setTab(1)">
      Diamond color
    </button>
    <button (click)="setTab(2)">
      Diamond clarity
    </button>
    <button (click)="setTab(3)">
      Diamond cut
    </button>
    <button (click)="setTab(4)">
      Diamond shape
    </button>
  </div>
  <div *ngIf="tab==0">
    <h1 style="text-align: center">Diamond list</h1>
    <div style="display: flex; align-items: flex-start;">
      <table style="border: 1px solid black;">
        <thead>
        <tr>
          <th>ID</th>
          <th>Color</th>
          <th>Clarity</th>
          <th>Cut</th>
          <th>Shape</th>
          <th>Carat</th>
          <th>Quantity</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of diamonds">
          <td>{{element.id}}</td>
          <td>{{element.color}}</td>
          <td>{{element.clarity}}</td>
          <td>{{element.cut}}</td>
          <td>{{element.shape}}</td>
          <td>{{element.carat}}</td>
          <td>{{element.quantity}}</td>
          <td>{{element.createAt | date: 'medium'}}</td>
          <td>{{element.status}}</td>
          <td style="text-align: center">
            <button (click)="openDiamondDialog(element)">Edit</button>
            <button *ngIf="element.status === 'ACTIVE'" (click)="toggleDiamondStatus(element.id)">Disable</button>
            <button *ngIf="element.status === 'INACTIVE'" (click)="toggleDiamondStatus(element.id)">Enable</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="openDiamondDialog(null)" style="background-color: green; color: white;">Add</button>
    </div>
  </div>
  <div *ngIf="tab==1">
    <h1 style="text-align: center">Diamond color list</h1>
    <div style="display: flex; align-items: flex-start;">
      <table style="border: 1px solid black;">
        <thead>
        <tr>
          <th>ID</th>
          <th>Color</th>
          <th>Price</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of diamondColors">
          <td>{{element.id}}</td>
          <td>{{element.color}}</td>
          <td>{{element.price}}</td>
          <td>{{element.createAt | date: 'medium'}}</td>
          <td>{{element.status}}</td>
          <td style="text-align: center">
            <button (click)="openDiamondColorDialog(element)">Edit</button>
            <button *ngIf="element.status === 'ACTIVE'" (click)="toggleDiamondColorStatus(element.id)">Disable</button>
            <button *ngIf="element.status === 'INACTIVE'" (click)="toggleDiamondColorStatus(element.id)">Enable</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="openDiamondColorDialog(null)" style="background-color: green; color: white;">Add</button>
    </div>
  </div>
  <div *ngIf="tab==2">
    <h1 style="text-align: center">Diamond clarity list</h1>
    <div style="display: flex; align-items: flex-start;">
      <table style="border: 1px solid black;">
        <thead>
        <tr>
          <th>ID</th>
          <th>Clarity</th>
          <th>Price</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of diamondClarities">
          <td>{{element.id}}</td>
          <td>{{element.clarity}}</td>
          <td>{{element.price}}</td>
          <td>{{element.createAt | date: 'medium'}}</td>
          <td>{{element.status}}</td>
          <td style="text-align: center">
            <button (click)="openDiamondClarityDialog(element)">Edit</button>
            <button *ngIf="element.status === 'ACTIVE'" (click)="toggleDiamondClarityStatus(element.id)">Disable</button>
            <button *ngIf="element.status === 'INACTIVE'" (click)="toggleDiamondClarityStatus(element.id)">Enable</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="openDiamondClarityDialog(null)" style="background-color: green; color: white;">Add</button>
    </div>
  </div>
  <div *ngIf="tab==3">
    <h1 style="text-align: center">Diamond cut list</h1>
    <div style="display: flex; align-items: flex-start;">
      <table style="border: 1px solid black;">
        <thead>
        <tr>
          <th>ID</th>
          <th>Cut</th>
          <th>Price</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of diamondCuts">
          <td>{{element.id}}</td>
          <td>{{element.cut}}</td>
          <td>{{element.price}}</td>
          <td>{{element.createAt | date: 'medium'}}</td>
          <td>{{element.status}}</td>
          <td style="text-align: center">
            <button (click)="openDiamondCutDialog(element)">Edit</button>
            <button *ngIf="element.status === 'ACTIVE'" (click)="toggleDiamondCutStatus(element.id)">Disable</button>
            <button *ngIf="element.status === 'INACTIVE'" (click)="toggleDiamondCutStatus(element.id)">Enable</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="openDiamondCutDialog(null)" style="background-color: green; color: white;">Add</button>
    </div>
  </div>
  <div *ngIf="tab==4">
    <h1 style="text-align: center">Diamond shape list</h1>
    <div style="display: flex; align-items: flex-start;">
      <table style="border: 1px solid black;">
        <thead>
        <tr>
          <th>ID</th>
          <th>Shape</th>
          <th>Price multiplier</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of diamondShapes">
          <td>{{element.id}}</td>
          <td>{{element.shape}}</td>
          <td>{{element.priceMultiplier}}</td>
          <td>{{element.createAt | date: 'medium'}}</td>
          <td>{{element.status}}</td>
          <td style="text-align: center">
            <button (click)="openDiamondShapeDialog(element)">Edit</button>
            <button *ngIf="element.status === 'ACTIVE'" (click)="toggleDiamondShapeStatus(element.id)">Disable</button>
            <button *ngIf="element.status === 'INACTIVE'" (click)="toggleDiamondShapeStatus(element.id)">Enable</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="openDiamondShapeDialog(null)" style="background-color: green; color: white;">Add</button>
    </div>
  </div>
</div>
