<div class="container mt-for-header" style="margin: 15rem auto 3rem">
  <div class="row">
    <div class="col-md-8">
      <h1 style="margin-bottom: 10px">About Us</h1>
      <p style="text-align: justify;">
        Welcome to Luci di Lusso, where luxury meets brilliance. At Luci di Lusso, we are passionate about crafting exquisite diamond and fine jewelry that epitomizes elegance, sophistication, and timeless beauty. Our name, meaning "Lights of Luxury," reflects our commitment to creating pieces that illuminate and captivate.
      </p>
      <p style="text-align: justify;">
        With a heritage rooted in exceptional craftsmanship and an eye for detail, we curate collections that celebrate both classic and contemporary designs. Our diamonds are ethically sourced and meticulously selected to ensure they meet the highest standards of quality and brilliance. Each piece in our collections is designed to be a testament to the artistry and dedication that defines Luci di Lusso.
      </p>
      <p style="text-align: justify;">
        Whether you are searching for the perfect engagement ring, a stunning necklace, or a piece of jewelry that makes a bold statement, our team of experienced jewelers and designers is here to help you find or create something truly special. At Luci di Lusso, we believe that every piece of jewelry tells a story, and we are honored to be a part of your most cherished moments.
      </p>
      <p style="text-align: justify;">
        Thank you for choosing Luci di Lusso. We invite you to explore our collections and experience the unparalleled beauty and luxury that define our brand.
      </p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/ring5.png" class="img-fluid" alt="Luxury Ring">
    </div>
  </div>
</div>
