<div class="container mt-for-header" style="margin-top: 100px">
  <div class="row">
    <div class="container">
      <h1 style="margin-bottom: 10px">About Diamond</h1>
      <div class="col">
        <span style="display: flex; flex-direction: row">
          <span>
            <ul>
              <li>
                Diamonds are the hardest naturally occurring substance known to us. Their atoms are arranged in a crystal structure called diamond cubic.
              </li>
              <li>
                This rigid arrangement of carbon atoms gives diamonds their exceptional hardness, making them ideal for cutting and polishing tools.
              </li>
              <li>
                Diamonds are not only prized as gemstones but also have crucial industrial uses. As gemstones, they are popular for their brilliance, fire, and durability. Most gem-grade diamonds are transparent and colorless, although other colors (blue, yellow, pink, etc.) exist due to impurities.
              </li>
              <li>
                In industry, diamonds are used for cutting, grinding, and drilling. Their extreme hardness allows them to withstand intense pressure, making them essential for applications like diamond anvil cells used in scientific research.
              </li>
            </ul>
          </span>
          <img src="assets/images/ring5.png">
        </span>
        <a href="**" style="display: flex; flex-direction: row;"><img src="assets/images/right-arrow.svg"><h3>Learn more about diamond</h3></a>
      </div>
    </div>
  </div>
</div>
