<div class="container vouchers-container">
  <div>
    <h1>My vouchers</h1>
    <div class="vouchers-grid">
      <div *ngFor="let voucher of myVouchers" class="voucher-card">
        <h4>Code: {{voucher.code}}</h4>
        <p>Discount: {{voucher.discount}}%</p>
        <p>Expire time: {{voucher.expireAt | date: 'medium'}}</p>
      </div>
    </div>
    <h3>Your points: {{customerPoints}}</h3>
    <h1>Available vouchers</h1>
    <div class="vouchers-grid">
      <div *ngFor="let voucher of vouchers" class="voucher-card">
        <div>
          <h4>Code: {{voucher.code}}</h4>
          <p>Discount: {{voucher.discount}}%</p>
          <p>Expire time: {{voucher.expireAt | date: 'medium'}}</p>
          <h3>Price: {{voucher.price}} points</h3>
        </div>
        <button (click)="redeemVoucher(voucher.id)">Redeem</button>
      </div>
    </div>
  </div>
</div>
