.sidenav-container {
  height: 100%;
}

.side-nav-items {
  display: flex;
  flex-direction: column;
}

.side-menu-item {
  margin: 10px 0;
}

.active {
  font-weight: bold;
}

.mat-sidenav {
  background-color: #d6be48; /* Custom color for the sidenav */
  width: 180px;
  flex: 0 0 180px;
}

.sidenav-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #4a3030;
  text-decoration: none;
}
