<router-outlet></router-outlet>

<div *ngIf="isManagerLoggedIn">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" [fixedInViewport]="true" color="primary" >
      <div class="side-nav-items">
        <span class="sidenav-brand">Luci di Lusso</span>
        <span class="spacer"></span>
        <div>
          <a mat-button [routerLink]="['/manager/dashboard']" routerLinkActive="active" class="side-menu-item">
            <mat-icon>home</mat-icon>
            Dashboard
          </a>
        </div>

        <div>
          <a mat-button [routerLink]="['/manager/analytics']" routerLinkActive="active" class="side-menu-item">
            Analytics
          </a>
        </div>

        <div>
          <a mat-button [routerLink]="['/manager/diamond']" routerLinkActive="active" class="side-menu-item">
            Diamond
          </a>
        </div>

        <div>
          <a mat-button [routerLink]="['/manager/jewelry']" routerLinkActive="active" class="side-menu-item">
            Jewelry
          </a>
        </div>

        <div>
          <a mat-button [routerLink]="['/manager/post-coupon']" routerLinkActive="active" class="side-menu-item">
            Post Coupon
          </a>
        </div>

        <div>
          <a mat-button [routerLink]="['/manager/coupons']" routerLinkActive="active" class="side-menu-item">
            Coupons
          </a>
        </div>

        <div>
          <button mat-button routerLink="/manager/profile" routerLinkActive="active">
            Profile
          </button>

          <button mat-button routerLinkActive="active" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
<!--Main content-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
