.wrapper {
  margin-top: 250px;
}

.certificate-container {
  margin: 10rem auto 5rem;
  width: 40%;
  border: 1px solid #000;
}

.image-container {
  display: flex;
  justify-content: center;
}

.section-header {
  background-color: #ccc149;
}

.section-header h3 {
  margin-left: 2rem;
}

.section-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-content p {
  margin-left: 2rem;
}
