<app-header></app-header>
<div class="wrapper">
  <div class="certificate-container">
    <div class="image-container">
      <img src="assets/images/GIA.png" alt="GIA Certificate">
    </div>
    <div *ngIf="diamond">
      <div class="section-header">
        <h3>GIA DIAMOND DOSSIER*</h3>
      </div>
      <div class="section-content">
        <p>{{diamond.createAt | date:'MMMM d, y'}}</p>
        <p>GIA Report Number: 7281252579</p>
        <p>Shape and Cutting Style: {{diamond.shape.shape}}</p>
        <p>Measurements: 6.29 - 6.32 x 4.05 mm</p>
      </div>
      <div class="section-header">
        <h3>GRADING RESULT</h3>
      </div>
      <div class="section-content">
        <p>Carat Weight: {{diamond.carat}}</p>
        <p>Color Grade: {{diamond.color.color}}</p>
        <p>Clarity Grade: {{diamond.clarity.clarity}}</p>
        <p>Cut Grade: {{diamond.cut.cut}}</p>
      </div>
      <div class="section-header">
        <h3>PROPORTIONS</h3>
      </div>
      <div class="image-container">
        <img src="assets/images/diamond-proportions.png" alt="Diamond Proportions">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
