<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <table mat-table [dataSource]="diamonds">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Diamond ID</th>
          <td mat-cell *matCellDef="let diamond"> {{diamond.id}} </td>
        </ng-container>

        <ng-container matColumnDef="cut">
          <th mat-header-cell *matHeaderCellDef>Cut</th>
          <td mat-cell *matCellDef="let diamond"> {{diamond.cut}} </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef>Color</th>
          <td mat-cell *matCellDef="let diamond"> {{diamond.color}} </td>
        </ng-container>

        <ng-container matColumnDef="clarity">
          <th mat-header-cell *matHeaderCellDef>Clarity</th>
          <td mat-cell *matCellDef="let diamond"> {{diamond.clarity}} </td>
        </ng-container>

        <ng-container matColumnDef="shape">
          <th mat-header-cell *matHeaderCellDef>Shape</th>
          <td mat-cell *matCellDef="let diamond"> {{diamond.shape}} </td>
        </ng-container>

        <ng-container matColumnDef="carat">
          <th mat-header-cell *matHeaderCellDef>Carat</th>
          <td mat-cell *matCellDef="let diamond"> {{diamond.carat}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let diamond"> {{diamond.price}} </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let diamond">
            <button mat-button (click)="deleteDiamond(diamond.id)">Delete</button>
          </td>
        </ng-container>

        <!-- Update Button Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let diamond">
            <button mat-button (click)="updateDiamond(diamond.id)">Update</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'cut', 'color', 'clarity', 'shape', 'carat', 'price', 'delete', 'update']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'cut', 'color', 'clarity', 'shape', 'carat', 'price', 'delete', 'update'];"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
