<div class="slider">
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <a [href]="slides[currentIndex].link" target="_blank"
     class="slide"
     [ngStyle]="{ 'background-image': getCurrentSlideUrl() }">
    <div>
      <h2 class="section-title">{{ slides[currentIndex].title }}</h2>
    </div>
  </a>
  <div class="dotsContainer">
    <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      [class.active]="slideIndex === currentIndex"
      (click)="goToSlide(slideIndex)"
    >
      ●
    </div>
  </div>
</div>
