.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

h2 {
  position: absolute; /* Adjust as needed */
  top: 210px;
  left: 100px; /* Adjust as needed */
  color: #000000; /* Choose a color that stands out */ /* Semi-transparent background */
  font-size: 50px; /* Adjust as needed */
}


.slider.moving-right .slide {
  transform: translateX(-100%);
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  /* Ensure the slider container has a defined height */
  height: 500px; /* Example height, adjust as needed */
}

.dotsContainer {
  position: absolute;
  bottom: 10px; /* Adjust as needed for spacing from the bottom */
  width: 100%;
  text-align: center; /* Center the dots horizontally */
}

.dot {
  display: inline-block;
  cursor: pointer;
  color: #ccc;
  font-size: 30px;
  /* Add more styling as needed */
}

.dot.active {
  display: inline-block;
  cursor: pointer;
  color: white; /* Color for active dot */
  font-size: 30px;
}
