<h1 mat-dialog-title>Select a Voucher</h1>
<div mat-dialog-content>
  <mat-selection-list #vouchers>
    <mat-list-option *ngFor="let voucher of data.vouchersList" [value]="voucher">
      <div>
        <strong>Code:</strong> {{ voucher.code }}
      </div>
      <div>
        <strong>Code:</strong> {{ voucher.discount }}
      </div>
      <div>
        <strong>Code:</strong> {{ voucher.createAt }}
      </div>
      <div>
        <strong>Code:</strong> {{ voucher.expireAt }}
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"></button>
  <button mat-button [mat-dialog-close]="vouchers.selectedOptions.selected[0]?.value">Select</button>
</div>
