<div class="table-wrapper">
  <table class="fl-table">
    <thead>
    <tr>
      <th style="width: 5%;">ID</th>
      <th style="width: 25%">Name</th>
      <th style="width: 20%">Email</th>
      <th style="width: 15%">Phone</th>
      <th style="width: 30%">Address</th>
      <th style="width: 5%">Status</th>
    </tr>
    </thead>
    <tbody>
    <div *ngFor="let delivery of deliveries">
      <tr>
        <td>{{ delivery.id }}</td>
        <td>{{ delivery.order.user.fullName }}</td>
        <td>{{ delivery.order.user.email }}</td>
        <td>{{ delivery.order.user.phone }}</td>
        <td>{{ delivery.order.user.address }}</td>
        <td>
          <span (click)="checkDeliveryStatus(delivery.id)">
            <button>Check</button>
          </span>
        </td>
      </tr>
    </div>
    </tbody>
  </table>
</div>
