<app-header></app-header>
<div class="wrapper">
  <section class="product-listing-section padding-bottom">
    <div class="container">
      <div class="product-heading-row row no-gutters">
        <div class="product-heading-column col-lg-3 col-md-4 col-1">
          <div class="filter-title">
            <h4 class="desk-only">Filters</h4>
            <div class="mobile-only">
              <svg class="icon icon-filter" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                <path fill-rule="evenodd" d="M4.833 6.5a1.667 1.667 0 1 1 3.334 0 1.667 1.667 0 0 1-3.334 0ZM4.05 7H2.5a.5.5 0 0 1 0-1h1.55a2.5 2.5 0 0 1 4.9 0h8.55a.5.5 0 0 1 0 1H8.95a2.5 2.5 0 0 1-4.9 0Zm11.117 6.5a1.667 1.667 0 1 0-3.334 0 1.667 1.667 0 0 0 3.334 0ZM13.5 11a2.5 2.5 0 0 1 2.45 2h1.55a.5.5 0 0 1 0 1h-1.55a2.5 2.5 0 0 1-4.9 0H2.5a.5.5 0 0 1 0-1h8.55a2.5 2.5 0 0 1 2.45-2Z" fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="product-heading-right-column col-lg-9 col-md-8 col-11">
          <div class="product-sorting-row d-flex align-items-center justify-content-between">
            <div></div>
            <div class="filter-select-box d-flex align-items-center justify-content-end">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
                <div class="input-group-append">
                  <button class="search-button" type="button" (click)="getProducts()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.099zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-list-row row no-gutters">
        <div class="product-filter-column col-lg-3 col-md-4 col-12">
          <div class="product-filter-body">
            <div class="mobile-only close-filter">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                <path  d="M27.7618 25.0008L49.4275 3.33503C50.1903 2.57224 50.1903 1.33552 49.4275 0.572826C48.6647 -0.189868 47.428 -0.189965 46.6653 0.572826L24.9995 22.2386L3.33381 0.572826C2.57102 -0.189965 1.3343 -0.189965 0.571605 0.572826C-0.191089 1.33562 -0.191186 2.57233 0.571605 3.33503L22.2373 25.0007L0.571605 46.6665C-0.191186 47.4293 -0.191186 48.666 0.571605 49.4287C0.952952 49.81 1.45285 50.0007 1.95275 50.0007C2.45266 50.0007 2.95246 49.81 3.3339 49.4287L24.9995 27.763L46.6652 49.4287C47.0465 49.81 47.5464 50.0007 48.0463 50.0007C48.5462 50.0007 49.046 49.81 49.4275 49.4287C50.1903 48.6659 50.1903 47.4292 49.4275 46.6665L27.7618 25.0008Z" fill="white"></path>
              </svg>
            </div>
            <div class="product-widget product-cat-widget">
              <div class="pro-itm has-children">
                <div style="font-weight: 600">
                  JEWELRY TYPES
                </div>
                <div>
                  <div *ngFor="let tag of typeLists">
                    <label class="check-label">
                      <span class="custom-checkbox">
                        <span id="{{tag}}" class="filter-button" (click)="getSelectedTypes(tag);">{{ tag }}</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-widget product-price-widget">
              <div class="pro-itm has-children">
                <a href="javascript:" class="acnav-label">
                  price
                </a>
                <div class="pro-itm-inner acnav-list">
                  <div class="price-select d-flex">
                    <div class="select-col">
                      <div *ngFor="let price of priceRange">
                        <label class="check-label">
                          <span class="custom-checkbox">
                            <span id="{{price}}" class="filter-button" (click)="getSelectedPriceRange(price);">{{ price }}</span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div id="range-slider">
                    <div id="slider-range"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-filter-right-column col-lg-9 col-md-8 col-12">
          <div class="row">
            <div *ngFor="let product of productsList">
              <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-col">
                <app-product-card [product]="product" [typeColors]="colorService.getTypeGradient(product.jewelry.type.type)"></app-product-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
