<div class="card" style="width: 18rem;">
  <a href="/product/{{product.id}}">
    <img ngSrc="{{product.imageUrl}}" class="card-img-top" alt="Product Image" width="277" height="277">
  </a>
  <div class="card-body text-center">
    <h5 class="card-title product-name">{{ product.name }}</h5>
    <p class="card-text product-category">{{ product.type }}</p>
    <small class="text-muted product-price">{{convertNumber(product.price)}} <span class="currency-type"></span></small>
  </div>
  <div class="card-footer text-center">
    <a href="#" class="btn btn-primary add-to-cart-btn">Add to Cart</a>
  </div>
</div>
