.product-listing-section {
  margin-top: 10rem;
}

.filter-button {
  cursor: pointer;
  font-weight: normal;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.filter-button.selected {
  font-weight: bold;
  background-color: #173334FF;
  color: white;
}

.search-button {
  background-color: white;
  border-radius: 0 5px 5px 0; /* Rounded corners on the right */
  border: 1px solid #ccc; /* Add a border */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.search-button:hover {
  background-color: #384150;
  color: #FFC66D/* Change color on hover */
}
