.card {
  display: flex;
  flex-direction: row;
  min-width: 36rem;
}

.image-container {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Prevents the image container from shrinking */
}

.d-flex.align-items-center {
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.btn {
  flex-shrink: 0;
}

.remove-btn {
  /* Add your styles for the remove button here */
  cursor: pointer; /* Suggests an action can be taken */
  background-color: #dc3545; /* Bootstrap danger color for consistency */
  color: white; /* Text color for better readability */
  border: none; /* Removes the default border */
  padding: 0.25rem 0.5rem; /* Adjust padding */
  border-radius: 0.25rem; /* Rounded corners */
}
