.container-fluid, .row {
  font-size: x-large;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:last-of-type {
  margin-top: auto;
}


.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #04AA6D;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.logout-button {
  width: 100%;
  align-self: center;
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary color for example */
  color: white;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
