<div class="container">
  <button (click)="addDiamond()">Add diamond</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Color</th>
        <th>Clarity</th>
        <th>Cut</th>
        <th>Shape</th>
        <th>Carat</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of diamonds">
        <td>{{element.id}}</td>
        <td>{{element.color}}</td>
        <td>{{element.clarity}}</td>
        <td>{{element.cut}}</td>
        <td>{{element.shape}}</td>
        <td>{{element.carat}}</td>
        <td>{{element.quantity}}</td>
        <td>
          <button (click)="openEditDiamondDialog(element)">Edit</button>
          <button (click)="openDeleteConfirmDialog(element.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
