<div class="container">
  <table>
    <thead>
    <tr>
      <th style="text-align: center">ID</th>
      <th style="text-align: center">Order</th>
      <th style="text-align: center">Customer name</th>
      <th style="text-align: center">Address</th>
      <th style="text-align: center">Deliverer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let delivery of deliveries">
      <td style="text-align: center">{{delivery.delivery.id}}</td>
      <td style="text-align: center">
        <p *ngFor="let item of delivery.orderItems">
          {{item.jewelry.name}} x {{item.quantity}}
        </p>
      </td>
      <td style="text-align: center">{{delivery.delivery.order.customer.fullName}}</td>
      <td style="text-align: center">{{delivery.delivery.order.customer.address}}</td>
      <td>
        <form (submit)="assignDeliverer(delivery.delivery.id, delivererSelect.value)">
          <select #delivererSelect>
            <option value="None">None</option>
            <option *ngFor="let deliverer of deliverers" [value]="deliverer.id">{{deliverer.username}}</option>
          </select>
          <button type="submit">Assign</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
