<div class="container">
  <table>
    <thead>
    <tr>
      <th style="text-align: center ;width: 3%">ID</th>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">Description</th>
      <th style="text-align: center">Diamond</th>
      <th style="text-align: center">Type</th>
      <th style="text-align: center">Image</th>
      <th style="text-align: center">Setting price</th>
      <th style="text-align: center">Labor cost</th>
      <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of jewelries">
      <td style="text-align: center">{{element.id}}</td>
      <td style="text-align: center">{{element.name}}</td>
      <td style="text-align: center">{{element.description}}</td>
      <td style="text-align: center">
        <div>
          <div>Color: {{element.diamond.color.color}}</div>
          <div>Clarity: {{element.diamond.clarity.clarity}}</div>
          <div>Cut: {{element.diamond.cut.cut}}</div>
          <div>Carat: {{element.diamond.carat}}</div>
          <div>Shape: {{element.diamond.shape.shape}}</div>
        </div>
      </td>
      <td style="text-align: center">{{element.type.type}}</td>
      <td style="text-align: center">
        <img [src]="element.imageUrl" alt="image" width="100" height="100">
      </td>
      <td style="text-align: center">{{element.settingPrice}}</td>
      <td style="text-align: center">{{element.laborCost}}</td>
      <td style="text-align: center ;display: flex">
        <button (click)="openEditJewelryDialog(element)" style="background-color: #04AA6D; color: white;">Edit</button>
        <button (click)="openDeleteConfirmDialog(element.id)" style="background-color: #04AA6D; color: white;">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button (click)="addJewelry()" style="background-color: #04AA6D; color: white;">Add jewelry</button>
</div>
