<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <a (click)="setTab(2)">Statistics</a>
      <a (click)="setTab(0)">Diamonds</a>
      <a (click)="setTab(3)">Jewelries</a>
      <a (click)="setTab(1)">Deliveries</a>
      <a class="logout-button" style="color: white" (click)="logOut()">Logout</a>
    </div>
    <div  class="col-11 content" id="diamond-list">
      <app-diamond-list *ngIf="tab == 0"></app-diamond-list>
      <app-manage-delivery-page *ngIf="tab == 1"></app-manage-delivery-page>
      <app-statistics *ngIf="tab == 2"></app-statistics>
      <app-manage-jewelries-list *ngIf="tab == 3"></app-manage-jewelries-list>
    </div>
  </div>
</div>
