<div class="container">
  <button (click)="addJewelry()">Add Diamond</button>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Diamond</th>
      <th>Type</th>
      <th>Image</th>
      <th>Setting price</th>
      <th>Labor cost</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of jewelries">
      <td>{{element.id}}</td>
      <td>{{element.name}}</td>
      <td>{{element.description}}</td>
      <td>
        <div>
          <div>Color: {{element.diamond.color.color}}</div>
          <div>Clarity: {{element.diamond.clarity.clarity}}</div>
          <div>Cut: {{element.diamond.cut.cut}}</div>
          <div>Carat: {{element.diamond.carat}}</div>
          <div>Shape: {{element.diamond.shape.shape}}</div>
        </div>
      </td>
      <td>{{element.type.type}}</td>
      <td>
        <img [src]="element.imageUrl" alt="image" width="100" height="100">
      </td>
      <td>{{element.settingPrice}}</td>
      <td>{{element.laborCost}}</td>
      <td>
        <button (click)="openEditDiamondDialog(element)">Edit</button>
        <button (click)="deleteJewelry(element.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
