<div class="container">
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <td>Deliverer ID</td>
        <td>Deliverer's Name</td>
      </tr>
      </thead>
      <tbody>
      <div *ngFor="let deliverer of deliverers">
        <tr>
          <td>{{deliverer.id}}</td>
          <td>{{deliverer.fullName}}</td>
        </tr>
      </div>
      </tbody>
    </table>
  </div>
</div>

<!---->

<div class="container" style="margin-top: 100px;">
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <td>Delivery ID</td>
        <td>Customer's Name</td>
        <td>Deliverer</td>
        <td>Save</td>
      </tr>
      </thead>
      <tbody>
      <div *ngFor="let delivery of deliveries">
        <tr>
          <td>{{delivery.id}}</td>
          <td>{{delivery.customerName}}</td>
          <td><input type="number" [(ngModel)]="deliverer"></td>
          <td><button (click)="saveDelivery(delivery.id)"></button></td>
        </tr>
      </div>
      </tbody>
    </table>
  </div>
</div>
