.table-01 {
  width: 100%;
  border-collapse: collapse;
  height: 200px;
  border: 1px solid #0c0c0d; /* Corrected border property */
}

.table-01 th,
.table-01 td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

.table-01 th {
  background-color: #f2f2f2;
}

.table-02 {
  width: 100%;
  border-collapse: collapse;
}

.table-02 th,
.table-02 td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

.table-02 th {
  background-color: #f2f2f2;
  text-align: center;
}

.table-03 {
  width: 100%;
  border-collapse: collapse;
}

.table-03 th,
.table-03 td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

.table-03 th {
  background-color: #f2f2f2;
  text-align: center;
}

.table-04 {
  width: 100%;
  border-collapse: collapse;
}

.table-04 th,
.table-04 td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

.table-04 th {
  background-color: #f2f2f2;
  text-align: center;
}

.table-05 {
  width: 100%;
  border-collapse: collapse;
}

.table-05 th,
.table-05 td {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

.table-05 th {
  background-color: #f2f2f2;
  text-align: center;
}

.blog-grid-section.tabs-wrapper.padding-bottom.padding-top {
  margin-top: 10rem;
}
