<div class="container product-details">
  <div class="additional-info border rounded shadow p-4">
    <div class="row">
      <div class="col-md-6">
        <img src="{{product.imageUrl}}" class="img-fluid rounded" alt="Product Image">
      </div>
      <div class="col-md-6">
        <div class="product-info">
          <h2 class="product-name">{{product.name}}</h2>
          <h3 class="price text-dark">${{product.price}}</h3>
          <p class="type">Type: {{product.type}}</p>
          <div class="dropdown d-flex align-items-center my-3">
            <span class="mr-2">Size:</span>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selectedSize}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" *ngFor="let size of product.sizes" (click)="selectSize(size)">{{size.size}} {{size.unit}}</a>
            </div>
          </div>
          <p class="text-info">
            Don't know which size to choose? <a href="/blog">See this</a>.
          </p>
          <div class="quantity-selector d-flex align-items-center">
            <button class="btn btn-secondary" (click)="decrementQuantity()">-</button>
            <input type="number" class="form-control text-center mx-2" [(ngModel)]="selectedQuantity" min="1">
            <button class="btn btn-secondary" (click)="incrementQuantity()">+</button>
          </div>
          <ul class="nav nav-tabs my-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'description'" (click)="changeTab('description')" id="description-tab" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'diamond-properties'" (click)="changeTab('diamond-properties')" id="diamond-properties-tab" role="tab" aria-controls="diamond-properties" aria-selected="false">Diamond Properties</a>
            </li>
          </ul>
          <div>
            <div *ngIf="activeTab === 'description'">
              <p>{{product.description}}</p>
            </div>
            <div *ngIf="activeTab === 'diamond-properties'">
              <p>Carat: {{product.diamondCarat}}</p>
              <p>Color: {{product.diamondColor}}</p>
              <p>Clarity: {{product.diamondClarity}}</p>
              <p>Cut: {{product.diamondCut}}</p>
              <p>Shape: {{product.diamondShape}}</p>
            </div>
          </div>
          <button *ngIf="isLoggedIn" class="btn btn-primary my-3" (click)="addToCart()">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
