<div class="container product-details">
  <div class="row">
    <div class="col-md-6">
      <img ngSrc="{{product.imageUrl}}" class="img-fluid" alt="Product Image" width="500" height="500"/>
    </div>
    <div class="col-md-6">
      <div class="product-info">
        <h2>{{product.name}}</h2>
        <p class="description">{{product.description}}</p>
        <p class="type">Type: ${{product.type}}</p>
        <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
