<header class="site-header header-style-one">
  <div class="main-navigationbar">
    <div class="container">
      <div class="navigationbar-row d-flex align-items-center">
        <div class="menu-items-col">
          <ul class="main-nav">
            <li class="menu-lnk">
              <a href="/home-page">Home</a>
            </li>
            <li class="menu-lnk">
              <a href="/product-list">Products</a>
            <li class="menu-lnk">
              <a href="**">Blogs</a>
            </li>
          </ul>
          <div class="logo-col desk-only">
            <div class="h2" style="white-space: nowrap;">
               Luci di Lusso
            </div>
          </div>
          <ul class="menu-right">
            <div *ngIf="isLoggedIn" class="cart-header">
              <app-header-cart></app-header-cart>
            </div>
            <li class="profile-header menu-lnk has-item">
              <a *ngIf="!isLoggedIn" href="/login">Login</a>
              <app-header-profile-dropdown *ngIf="isLoggedIn"></app-header-profile-dropdown>
            </li>
          </ul>
          <div class="mobile-menu">
            <button class="mobile-menu-button" id="menu">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M 4 7 L 4 9 L 28 9 L 28 7 Z M 4 15 L 4 17 L 28 17 L 28 15 Z M 4 23 L 4 25 L 28 25 L 28 23 Z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
