.sidebar-container {
  background-color: #003366; /* Dark blue color */
  color: white;
  min-height: 100vh; /* Adjust to ensure full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures button aligns to bottom */
  padding: 20px;
}

.logout-button {
  margin-top: auto;
  align-self: center;
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary color for example */
  color: white;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0056b3;
}
