<div class="container">
  <h1>My delivery list</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Customer's name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Delivery status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let delivery of deliveries">
      <td>{{delivery.delivery.id}}</td>
      <td>{{delivery.delivery.order.customer.fullName}}</td>
      <td>{{delivery.delivery.order.customer.address}}</td>
      <td>{{delivery.delivery.order.customer.phone}}</td>
      <td>{{delivery.delivery.status}}</td>
      <td>
        <button (click)="openDeliveryDetailsDialog(delivery)">Details</button>
        <button *ngIf="delivery.delivery.status === 'ASSIGNED'" (click)="openCompleteDeliveryConfirmDialog(delivery.delivery.id)">Complete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
