<div class="table-wrapper">
  <table class="fl-table">
    <thead>
    <tr>
      <th style="width: 5%;">ID</th>
      <th style="width: 25%">Customer Name</th>
      <th style="width: 15%">Phone</th>
      <th style="width: 20%">Email</th>
      <th style="width: 30%">Address</th>
      <th style="width: 30%">Created At</th>
      <th style="width: 10%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let delivery of deliveries">
        <td><button class="fc-button" (click)="setDeliveryID(delivery.id)">{{ delivery.id }}</button></td>
        <td>{{ delivery.customerName }}</td>
        <td>{{ delivery.customerPhone }}</td>
        <td>{{ delivery.customerEmail }}</td>
        <td>{{ delivery.customerAddress }}</td>
        <td>{{ delivery.createAt }}</td>
        <td>
          <button (click)="completeDelivery(delivery.id)">Complete</button> <!-- Added button for completing delivery -->
        </td>
    </tr>
    </tbody>
  </table>
</div>
