<app-header></app-header>
<div class="wrapper" style="margin-top: 120px">
  <section class="blog-page-banner common-banner-section" style="background-image:url(assets/images/blog-card2.png);">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="common-banner-content">
            <ul class="blog-cat">
              <li style="color: white;"><b>Date:</b> 3 July, 2024</li>
            </ul>
            <div class="section-title">
              <h2>Diamond Prices Chart to Calculate 2024 Value & Worth</h2>
            </div>
            <!-- Added views and likes -->
            <div class="views-likes" style="display: flex; align-items: center; gap: 20px; color: white">
    <span class="views">
        <svg class="bi bi-eye" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.173 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
        </svg>
        1,204 Views
    </span>
              <span class="likes">
        <svg class="bi bi-heart-fill" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.735 3.562-3.248 8 1.314z" fill-rule="evenodd"/>
        </svg>
        256 Likes
    </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<p style="padding-top: 100px">fashion01 works!</p>
<app-footer></app-footer>
