<div *ngIf="order">
  <div style="text-align: center;">
    <h2>Purchase Details</h2>
  </div>
  <div style="display: flex; justify-content: center;">
    <div style="width: 30%;">
      <p>Customer name: {{order.order.customer.fullName}}</p>
      <p>Order date: {{order.order.createAt | date: 'medium'}}</p>
      <p>Total price: ${{getTotalPrice(order)}}</p>
    </div>
    <div style="flex: 1; border: 1px solid #000; padding: 10px;">
      <div style="text-align: center;">
        <h3>Jewelries List ({{getItemCount(order)}})</h3>
      </div>
      <ul style="padding: 0; list-style: none;">
        <li *ngFor="let item of order.orderItems" style="border: 1px solid #000; padding: 5px; margin-bottom: 5px; display: flex;">
          <div>
            <img src="{{item.jewelry.imageUrl}}" alt="Jewelry Image" style="display: block; margin: auto; width: 400px; height: 400px;">
          </div>
          <div style="padding: 10px;">
            <p>Name: {{item.jewelry.name}}</p>
            <p>Type: {{item.jewelry.type.type}}</p>
            <p>Size: {{item.jewelrySize.size}} {{item.jewelrySize.unit}}</p>
            <p>Quantity: {{item.quantity}}</p>
            <p>Price: ${{item.price}}</p>
            <div>
              <a href="/certificate/{{item.jewelry.diamond.id}}" style="color: #007bff; text-decoration: underline;">GIA certificate</a>
            </div>
            <div>
              <a href="/warranty/{{item.id}}" style="color: #007bff; text-decoration: underline;">Warranty</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
