.mat-elevation-z8 {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

mat-header-cell, mat-cell {
  padding: 8px;
}

mat-row:hover {
  background-color: #ddd;
}

.purchase-history-wrapper {
  margin-top: 200px;
  margin-bottom: 400px;
}

.purchase-history-header h2 {
  margin: 0;
  padding: 16px;
  background-color: #f5f5f5;
}
