<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h4>Purchase Details</h4>
    </div>
    <div class="card-body">
      <!-- Customer Information -->
      <div class="mb-3">
        <strong>Customer Name:</strong> {{ orderDetails.customerName }}
      </div>
      <div class="mb-3">
        <strong>Total Price:</strong> ${{ orderDetails.totalPrice.toFixed(2) }}
      </div>
      <div class="mb-3">
        <strong>Order Date:</strong> {{ orderDetails.createAt }}
      </div>

      <!-- Product List -->
      <h5>Product List</h5>
      <ul class="list-group">
        <li *ngFor="let product of productList" class="list-group-item">
          <div class="d-flex align-items-center">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}" class="product-image">
            <div class="ml-3">
              <span class="product-name">{{ product.name }}</span>
              <span class="product-category">Size: {{ product.size }}</span>
              <span class="product-category">Type: {{ product.type }}</span>
            </div>
            <div class="ml-auto">
              <span class="product-price">${{ product.price.toFixed(2) }}</span>
              <span class="product-quantity"> x {{ product.quantity }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
